## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import numpy as np
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../WeatherPy_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yar-Sale,RU,66.8333,70.8333,-12.32,100,89,5.03,overcast clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,51.91,32,0,23.02,clear sky
2,2,Butaritari,KI,3.0707,172.7902,82.60,72,57,18.32,broken clouds
3,3,Zeya,RU,53.7500,127.2667,-6.29,88,12,2.30,few clouds
4,4,Zwedru,LR,6.0667,-8.1281,80.82,56,35,3.87,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like your your trip?"))
max_temp = float(input("What is the maximum temperature you would like your your trip?"))

What is the minimum temperature you would like your your trip?75
What is the maximum temperature you would like your your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Butaritari,KI,3.0707,172.7902,82.60,72,57,18.32,broken clouds
4,4,Zwedru,LR,6.0667,-8.1281,80.82,56,35,3.87,scattered clouds
6,6,Saint-Pierre,RE,-21.3393,55.4781,78.48,69,0,6.91,clear sky
11,11,Kahului,US,20.8947,-156.4700,78.06,80,40,18.41,scattered clouds
12,12,Port Hedland,AU,-20.3167,118.5667,84.25,79,75,9.22,broken clouds
...,...,...,...,...,...,...,...,...,...,...
682,682,Port Blair,IN,11.6667,92.7500,79.79,74,61,12.73,broken clouds
695,695,Kismayo,SO,-0.3582,42.5454,80.10,79,22,11.18,few clouds
699,699,Oum Hadjer,TD,13.2954,19.6966,80.42,14,63,9.53,broken clouds
701,701,Auburndale,US,28.0653,-81.7887,86.18,58,1,1.01,clear sky
702,702,Gizo,SB,-8.1030,156.8419,83.12,76,100,5.57,light rain

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Butaritari,KI,3.0707,172.7902,82.60,72,57,18.32,broken clouds
4,4,Zwedru,LR,6.0667,-8.1281,80.82,56,35,3.87,scattered clouds
6,6,Saint-Pierre,RE,-21.3393,55.4781,78.48,69,0,6.91,clear sky
11,11,Kahului,US,20.8947,-156.4700,78.06,80,40,18.41,scattered clouds
12,12,Port Hedland,AU,-20.3167,118.5667,84.25,79,75,9.22,broken clouds
...,...,...,...,...,...,...,...,...,...,...
682,682,Port Blair,IN,11.6667,92.7500,79.79,74,61,12.73,broken clouds
695,695,Kismayo,SO,-0.3582,42.5454,80.10,79,22,11.18,few clouds
699,699,Oum Hadjer,TD,13.2954,19.6966,80.42,14,63,9.53,broken clouds
701,701,Auburndale,US,28.0653,-81.7887,86.18,58,1,1.01,clear sky
702,702,Gizo,SB,-8.1030,156.8419,83.12,76,100,5.57,light rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Butaritari,KI,82.60,broken clouds,3.0707,172.7902,
4,Zwedru,LR,80.82,scattered clouds,6.0667,-8.1281,
6,Saint-Pierre,RE,78.48,clear sky,-21.3393,55.4781,
11,Kahului,US,78.06,scattered clouds,20.8947,-156.4700,
12,Port Hedland,AU,84.25,broken clouds,-20.3167,118.5667,
16,Hilo,US,78.28,few clouds,19.7297,-155.0900,
18,Sao Jose Da Coroa Grande,BR,80.98,few clouds,-8.8978,-35.1478,
20,Toamasina,MG,77.00,light rain,-18.1667,49.3833,
22,Vaini,TO,77.16,light rain,-21.2000,-175.2000,
28,Rikitea,PF,77.40,light rain,-23.1203,-134.9692,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
       hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except:
        print('Hotel not found, skipping city...')
        pass

Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...
Hotel not found, skipping city...

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Butaritari,KI,82.60,broken clouds,3.0707,172.7902,Isles Sunset Lodge
4,Zwedru,LR,80.82,scattered clouds,6.0667,-8.1281,Elijah Worjloh
6,Saint-Pierre,RE,78.48,clear sky,-21.3393,55.4781,Lindsey Hôtel
11,Kahului,US,78.06,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
12,Port Hedland,AU,84.25,broken clouds,-20.3167,118.5667,The Esplanade Hotel
...,...,...,...,...,...,...,...
682,Port Blair,IN,79.79,broken clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
695,Kismayo,SO,80.10,few clouds,-0.3582,42.5454,Agan-Hotel
699,Oum Hadjer,TD,80.42,broken clouds,13.2954,19.6966,
701,Auburndale,US,86.18,clear sky,28.0653,-81.7887,Best Western Auburndale Inn & Suites
702,Gizo,SB,83.12,light rain,-8.1030,156.8419,Imagination Island

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

PermissionError: [Errno 13] Permission denied: 'WeatherPy_vacation.csv'

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))